<md-card class="modal-card">
  <md-card-header md-dialog-title>
    <md-card-title>Enter new author's credentials</md-card-title>
  </md-card-header>

  <md-card-content md-dialog-content>
    <md-form-field>
      <input
        required
        mdInput
        #name="ngModel"
        [maxLength]="maxLength"
        [(ngModel)]="author.name"
        placeholder="Name"
      >
      <md-error *ngIf="hasError(name, 'required')">
        Name is <strong>required</strong>
      </md-error>
    </md-form-field>

    <md-form-field>
      <input
        required
        mdInput
        #surname="ngModel"
        [maxLength]="maxLength"
        [(ngModel)]="author.surname"
        placeholder="Surame"
      >
      <md-error *ngIf="hasError(surname, 'required')">
        Surname is <strong>required</strong>
      </md-error>
    </md-form-field>
  </md-card-content>

  <md-card-actions md-dialog-actions class="modal-actions">
    <button
      md-raised-button
      [disabled]="(!name.valid || !surname.valid)"
      color="primary"
      (click)="onYesClick()"
    >
      {{ editAuthor ? 'Save Author' : 'Add Author' }}
    </button>
    <button md-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  </md-card-actions>
</md-card>
